li.post-list-item {
  max-width: 700px;
  margin: 20px auto;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

li.post-list-item div.head-post {
  display: flex;
  align-items: center;
}

li.post-list-item div.head-post img{
  width: 75px;
  border-radius: 50%;
}

div.head-post div.author {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

div.head-post div.author strong{
  font-size: 16px;
  font-weight: bold;
}

div.head-post div.author span{
  font-size: 16px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 0.2em;
}

p.post-list-item-content {
  margin: 30px auto;
}

div.post-div {
  width: 100%;
  height: 2px;
  background-color: #F2F2F2;
}

div.post-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

div.post-options div.post-options-buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  min-height: 40px;
  margin-top: 5px;
}

div.post-options div.post-options-buttom:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}


div.post-options img.post-options-like,
img.post-options-comment, img.post-options-share {
  width: 20px;
  margin-right: 10px;
}

div.post-options span {
  margin-top: 4px;
}